
.main-container {
    display: grid;
    grid-template-rows: 40% 70%;
    height: 100vh;
    width: 100vw;
}

.main-header {
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 70% 1fr;


}

.nav {
    grid-row: 1;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
}
.nav-home{
    grid-column: 1;
}
.nav-login{
    grid-column: 3;
}
.header-block{
    background-color: blue;
    grid-row: 2;
    width: 100%;
    height: 100%;
}
.header-info {
    grid-row: 3;
    display: grid;
    grid-template-columns: 20% 60% 20%;

}
.info{
    grid-column: 2;
    text-align: left;
    
}
.info li{
    display: inline-block;
}
.info-button {
    grid-column: 3;
    text-align: center;
}